libs/
Sources/Tesseract/Tesseract*
Config.h
tessdata/
UserInterfaceState.xcuserstate
Food\ Scanner.xcodeproj/project.xcworkspace/xcuserdata/macosx.xcuserdatad/UserInterfaceState.xcuserstate
Food\ Scanner.xcodeproj/xcuserdata/macosx.xcuserdatad/xcschemes/OcrSdkDemo.xcscheme